.wrapper {
  padding: 50px 0;
  background-color: var(--yellow);
  min-height: 100vh;
  max-height: max-content;
}

.preloaderWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}

.imageUser {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.userPhoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.userLink {
  display: flex;
  gap: 10px;
  align-items: center;
}

.backBtn {
  display: inline-flex;
  gap: 10px;
  font-size: 20px;
  color: var(--violet);
  margin-bottom: 30px;
  border-bottom: 2px solid transparent;
}

.backBtn:hover {
  border-bottom:2px solid var(--violet);
}


.btnBackIcon {
  fill: var(--violet);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

